/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

.hidden {
  display: none;
}

input[type="text"]:not(#new-task) {
  display: block;
}

.invalid::after {
  content: "Invalid name";
}

body {
  background: #181a1b;
  color: white;
  display: grid;
  grid: 50px 1fr / minmax(50px, 15%) 1fr;
}

input,
button {
  background: #2b2a33;
  color: rgb(211, 211, 211);
  border: grey;
  border-radius: 5px;
  line-height: 1.4rem;
}

input[type="checkbox"] {
  appearance: none;
}

.task-label span {
  display: inline-block;
  width: 25px;
  height: 19px;
  margin: 0 5px -4px 0;
}

.task-label span::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  background: transparent;
  border: 2px solid #ff4040;
}

.checkbox:checked + .task-label span::before {
  background-color: #ff4040;
}

.checkbox:checked + .task-label {
  text-decoration: line-through;
  color: rgb(180, 180, 180);
}

header {
  display: contents;
}

header > * {
  align-self: center;
}

h1 {
  justify-self: center;
}

header #task-input {
  grid-column: 2;
}

main {
  grid-column: 2;
}

aside {
  grid-row: 2;
  grid-column: 1;
  align-self: start;
}

.project-button {
  display: block;
}

.task {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.right {
  display: flex;
  align-content: center;
  line-height: 1.4rem;
  gap: 15px;
}
